machine:
  install:
    diskSelector:
      size: '> 40GB'
    wipe: true
  network:
    hostname: ${hostname}
  nodeLabels:
    cilium-enable-bgp: true
    topology.kubernetes.io/region: ${cluster_name}

cluster:
  allowSchedulingOnControlPlanes: true
  network:
    cni:
      name: none